*{
    margin: 0;
    
}

#bg-image{
    background: url(../images/bg/login.jpg);

}

.transparent{
    background-color: #ffffff9b;
    background: linear-gradient(90deg, #ffffff 0%, rgba(195, 204, 189, 0.745) 0%, rgba(1, 255, 255, 0.816) 100%);
    backdrop-filter: blur(4px); 
}

.collapse-content {
    max-height: 500px; /* Set an appropriate maximum height */
    overflow: hidden;
  }
  
.collapse p {
    cursor: pointer;
}
.active{
    background-color: blue;
}
  
.collapsing {
    margin: 0px;
  }

.subscription-height{
    height: 100vh;
    background-color: rgb(190, 190, 190);
    transition:none;
}
.overflow-content{
    overflow: auto;
    height: 400px;
    width: 80vw;
}


#manage-bg {
    background-image: url("../images/bg/manage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    overflow-x: hidden; 
}

#subscribe-bg{
        background-image: url("../images/bg/subscription.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        margin: 0; /* Remove any default margin */
        padding: 0; /* Remove any default padding */
        overflow-x: hidden; 
}

#master-bg{
    background-image: url("../images/bg/craft.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    overflow-x: hidden; 
}

.overflow-auto{
    max-height: 300px;
}

.transparent-table{
    background-color: #ffffff36;
}

#add-bg{
    background-image: url("../images/bg/add.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    overflow-x: hidden; 
}
.transparency{
    background-color: #ffffffb7;
}
/* 
.toast {
   background: rgb(255, 0, 0);
   
}

.toast-header{
    
} */

.padding-1 {
    padding: 0 16px;
}

.padding-3 {
    padding: 0 26px;
}